<form class="layui-form">

	<div class="layui-form-item">
		<label class="layui-form-label">分类</label>
		<div class="layui-input-inline">
			<select name="cid" id="cid" lay-verify="required">
	    	<option value="">==请选择==</option>
	        {volist name="cate" id="vo"}
	        <option value="{$vo['id']},{$vo['path']}">{php}
	            for($i=0; $i<$vo['count']*2; $i++){
	               echo '&nbsp;&nbsp;';            
	            }
	        {/php}{$vo['name']}</option>
	        {/volist}
	        </select>
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">名称</label>
		<div class="layui-input-inline">
			<input type="text" name="name" placeholder="名称" lay-verify="required" class="layui-input">
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">URL</label>
		<div class="layui-input-block">
			<input type="text" name="url" class="layui-input">
		</div>
	</div>	

	<div class="layui-form-item layui-form-text">
		<label class="layui-form-label">图片</label>
		<div class="layui-input-inline" style="width:400px">
			<input type="text" id="picname" name="picname" lay-verify="required" class="layui-input">
		</div>
		<div class="layui-inline">
			<button type="button"  class="layui-btn" function="upload" fileElem="#picname" srcElem="#picname_src" fileAccept="images" fileExts="jpg|png|gif|jpeg" fileSize="5120" inputs="type:test">上传图片</button>
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">排序</label>
		<div class="layui-input-inline">
			<input type="text" name="sort" id="sort" value="1" lay-verify="required" class="layui-input">
		</div>
	</div>

	<!-- <div class="layui-form-item">
	    <label class="layui-form-label">文字1</label>
	    <div class="layui-input-block">
	    	<input type="text" name="h1" autocomplete="off" class="layui-input"/>
	    </div>
	</div>
	
	<div class="layui-form-item">
	    <label class="layui-form-label">文字2</label>
	    <div class="layui-input-block">
	    	<input type="text" name="h2" autocomplete="off" class="layui-input"/>
	    </div>
	</div>
	
	<div class="layui-form-item">
	    <label class="layui-form-label">文字3</label>
	    <div class="layui-input-block">
	    	<input type="text" name="h3" autocomplete="off" class="layui-input"/>
	    </div>
	</div> -->

	<hr>

	<div class="layui-form-item">
		<label class="layui-form-label"></label>
	    <button id="subBtn" class="layui-btn" lay-submit="" lay-filter="save" url="{:url('Ad/add')}">新增</button>
	</div>
</form>