<layout name='layout' />

<form class="layui-form">
	<div class="layui-form-item">
	    <label class="layui-form-label">昵称</label>
	    <div class="layui-input-inline">
	    	<input type="text" name="name" value="{$list.name}" lay-verType="tips" lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input"/>
	    </div>
	</div>

	<div class="layui-form-item layui-form-text">
		<label class="layui-form-label">二维码</label>
		<div class="layui-input-inline" style="width:400px">
			<input type="text" id="logo" name="logo" value="{$list.logo}" class="layui-input">
		</div>
		<div class="layui-inline">
			<button type="button"  class="layui-btn" function="upload" fileElem="#logo" srcElem="#logo_src" fileAccept="images" fileExts="jpg|png|gif|jpeg" fileSize="5120" inputs="type:test">上传图片</button>
			 <i class="layui-icon showImage" tag="logo">&#xe64a;</i>
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">状态</label>
		<div class="layui-input-inline">
			<input type="radio" name="show" value="1" title="显示" {php}if($list['show']==1) echo 'checked';{/php}>
			<input type="radio" name="show" value="0" title="隐藏" {php}if($list['show']==0) echo 'checked';{/php}>
		</div>
	</div>

	<div class="layui-form-item layui-form-text">
		<label class="layui-form-label">排序</label>
		<div class="layui-input-inline">
			<input type="text" name="sort" value="{$list.sort}" class="layui-input" value="50" placeholder="必填" lay-verify="number">
		</div>
	</div>

	<hr/>
	<div class="layui-form-item">
		<label class="layui-form-label"></label>
	    <button class="layui-btn" lay-submit="" lay-filter="save" url="{:url('Kefu/edit')}">编辑</button>
	    <button type="button" class="layui-btn layui-btn-primary" function="close">关闭</button>
	</div>
	<input type="hidden" name="id" value="{$list['id']}" />
</form>
<script>
$(function(){
	$(".showImage").click(function(){
		var o = $(this).attr("tag");
		if ($("#"+o).val()!=''){
			layui.use('layer', function(){
				layer.open({
					content: '<img src="'+$("#"+o).val()+'" />'
				});
			})
		};
	});
})
</script>
<script type="text/javascript" src="{:RES}/js/upload.js"></script>