<layout name='layout' />

<div class="layui-col-md12">
	<div class="layui-row grid-demo">
	    <div class="layui-col-md12">
	    	<button type="button" class="layui-btn layui-btn-sm layui-btn-primary" onclick="window.history.go(-1)"><i class="layui-icon">&#xe65c;</i>返回</button>

			<button class="layui-btn layui-btn-sm layui-btn-danger" function="submit" method="post" url="{:url("User/delog")}" isMutiDml="1" isConfirm="1" confirmMsg="是否确定删除选中的数据？" inputs="id:">
			  <i class="layui-icon">&#xe640;</i>批量删除
			</button>

			<button class="layui-btn layui-btn-sm" function="refresh">
			  <i class="layui-icon">&#xe669;</i>刷新
			</button>
	    </div>


		<div class="layui-col-md12">
	        <table id="fsDatagrid" lay-filter="fsDatagrid" class="fsDatagrid" isLoad="1" url="{:url('User/log',array('uid'=>$uid))}" isPage="1" sortType="1" pageSize="20" defaultForm="query_form" height="full-60"></table>

	        <div class="fsDatagridCols">
				<p checkbox="true"/>				
				<p field="username" title="用户名" width="200"/>
				<p field="loginTime" title="登录时间" width="200"/>
				<p field="loginIP" title="登录IP" width="200"/>
			</div>
	    </div>
	</div>
</div>