<layout name='layout' />
<form class="layui-form">		
	<div class="layui-form-item">
		<label class="layui-form-label">原始密码</label>
		<div class="layui-input-inline">
			<input type="password" name="oldpwd" lay-verify="required" class="layui-input" placeholder="必填">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">新密码</label>
		<div class="layui-input-inline">
			<input type="password" name="password" id="password" lay-verify="__password" class="layui-input" placeholder="必填">
		</div>
	</div>	
	<div class="layui-form-item">
		<label class="layui-form-label">重复密码</label>
		<div class="layui-input-inline">
			<input type="password" name="repassword" lay-verify="__repassword" class="layui-input" placeholder="必填">
		</div>
	</div>		

	<input type="hidden" name="dosubmit">
	<div class="layui-form-item">
		<div class="layui-input-block">
			<button class="layui-btn" lay-submit="" lay-filter="edit" method="post" url="{:url('User/password')}"><i class="layui-icon">&#xe642;</i>提交</button>
		</div>
	</div>
</form>
