<layout name='layout' />

<form class="layui-form">
	<div class="layui-form-item">
		<label class="layui-form-label">用户组名称</label>
		<div class="layui-input-inline">
			<input type="text" name="name" lay-verify="required" value="{$list.name}" placeholder="请输入用户组名称" class="layui-input">		
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">描述</label>
		<div class="layui-input-inline">
			<input type="text" id="remark" name="remark" value="{$list.remark}" lay-verify="required" placeholder="用户组的简单描述" class="layui-input">
		</div>
	</div>

	<div class="layui-form-item layui-form-text">
		<label class="layui-form-label">状态</label>
		<div class="layui-input-inline">
			<input type="radio" name="status" value="1" title="开启" {php}if($list['status']=='1')echo 'checked';{/php}>
			<input type="radio" name="status" value="0" title="关闭" {php}if($list['status']=='0')echo 'checked';{/php}>
		</div>
	</div>

	<hr/>

	<div class="layui-form-item">
		<label class="layui-form-label"></label>
     	<button class="layui-btn" lay-submit="" lay-filter="edit" url="{:url('Role/edit')}"><i class="layui-icon">&#xe642;</i>编辑</button>
     	<button type="button" class="layui-btn layui-btn-primary" function="close">关闭</button>
    </div>
	<input type="hidden" name="id"  />
</form>