<div class="footerBg">
	<div class="footer">
		<li>
			<div class="hd">关于我们</div>
			<div class="bd">
				<a href="{:url('index/about','id=1')}">公司概况</a>
				<a href="{:url('index/about','id=2')}">发展历程</a>
				<a href="{:url('index/about','id=3')}">企业文化</a>
				<a href="{:url('index/honor')}">资质荣誉</a>
			</div>
		</li>
		<li>
			<div class="hd">产品展示</div>
			<div class="bd">
				<a href="{:url('index/product','cid=8')}">高压开关</a>
				<a href="{:url('index/product','cid=9')}">低压开关</a>
				<a href="{:url('index/product','cid=10')}">母线槽</a>
				<a href="{:url('index/product','cid=11')}">YBM9-12箱式变电</a>
			</div>
		</li>
		<li>
			<div class="hd">工程案例</div>
			<div class="bd">
				<a href="{:url('index/project')}">案例展示</a>
				<a href="{:url('index/yjb')}">业绩表</a>
			</div>
		</li>
		<li>
			<div class="hd">新闻中心</div>
			<div class="bd">
				{volist name="footerNews" id="vo"}
				<a href="{:url('index/detail','id='.$vo['id'])}" title="{$vo.title}" class="layui-elip">{$vo.title}</a>
				{/volist}
			</div>
		</li>
		<li>
			<div class="hd">联系我们</div>
			<div class="bd">
				<a href="{:url('index/contact')}">联系方式</a>
				<a href="{:url('index/contact')}">在线留言</a>
			</div>
		</li>
	</div>
</div>

<div class="copyright">
	<div class="main">
		<div class="left">版权所有：{:config('site.copyright')}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.miitbeian.gov.cn/" target="_black">豫ICP备11004586号-1</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;技术支持：<a href="http://www.kf01.com" target="_blank">中联网络</a></div>
		<div class="right">地址：{:config('site.address')}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;咨询电话：{:config('site.tel')}</div>
	</div>
</div>
<script>
if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
    new WOW().init();
};
</script>