<div class="top">  
    <div class="topBar">
        <div class="date">今天是：<?php echo date("Y年m月d日")?></div>
        <div class="fav">
            <a href="">设为首页</a>
            |
            <a href="">加入收藏</a>
        </div>
        <div class="topTel">服务热线：{:config('site.tel')}</div>
    </div>

    <div class="header">          
        <div class="logo"><a href="{:config('site.domain')}" title="{:config('site.name')}"><img src="{:RES}/image/logo.jpg" alt="{:config('site.name')}" /></a></div>
        
        <div class="nav">
            <li data="home"><a href="{:url('index/index')}" title="{:config('site.name')}">网站首页</a></li>
            <li data="about"><a href="{:url('index/about')}" title="{:config('site.name')}">关于我们</a></li>
            <li data="honor"><a href="{:url('index/honor')}" title="资质荣誉">资质荣誉</a></li>
            <li data="product"><a href="{:url('index/product')}" title="产品展示">产品展示</a></li>
            <li data="project"><a href="{:url('index/project')}" title="工程案例">工程案例</a></li>
            <li data="service"><a href="{:url('index/service')}" title="服务中心">服务中心</a></li>
            <li data="news"><a href="{:url('index/news')}" title="新闻中心">新闻中心</a></li>
            <li data="contact"><a href="{:url('index/contact')}" title="联系我们">联系我们</a></li>
        </div>
    </div>
</div>
<script type="text/javascript">
$(function(){
    var act = $("#activeMenu").val();
    $(".nav li").each(function(){
        if($(this).attr("data")==act){
            $(this).addClass("active");
        }
    })
})
</script>