<div class="layui-tab layui-tab-card my-card">
    <ul class="layui-tab-title">
        <li class="layui-this">随机</li>
        <li>最新</li>
        <li>热门</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <div class="topNews">
                {volist name="rnd" id="vo"}
                <li class="layui-elip"><a href="{:url('index/detail','id='.$vo['id'])}" title="{$vo.title}">{$vo.title}</a></li>
                {/volist}
            </div>
        </div>
        <div class="layui-tab-item">
            <div class="topNews">
                {volist name="new" id="vo"}
                <li class="layui-elip"><a href="{:url('index/detail','id='.$vo['id'])}" title="{$vo.title}">{$vo.title}</a></li>
                {/volist}
            </div>
        </div>
        <div class="layui-tab-item">
            <div class="topNews">
                {volist name="hit" id="vo"}
                <li class="layui-elip"><a href="{:url('index/detail','id='.$vo['id'])}" title="{$vo.title}">{$vo.title}</a></li>
                {/volist}
            </div>
        </div>
    </div>
</div>

<div class="layui-card">
    <div class="layui-card-header">
    标签
    </div>
    <div class="layui-card-body">
        <a href="{:url('index/search','keyword=婚外情调查')}"><span class="layui-badge">婚外情调查</span></a>
        <a href="{:url('index/search','keyword=开封婚姻出轨调查')}"><span class="layui-badge layui-bg-orange">开封婚姻出轨调查</span></a>
        <a href="{:url('index/search','keyword=开封外遇取证')}"><span class="layui-badge layui-bg-green">开封外遇取证</span></a>
        <a href="{:url('index/search','keyword=开封私家侦探')}"><span class="layui-badge layui-bg-cyan">开封私家侦探</span></a>
        <a href="{:url('index/search','keyword=开封债务追讨')}"><span class="layui-badge layui-bg-blue">开封债务追讨</span></a>
        <a href="{:url('index/search','keyword=开封寻人寻址')}"><span class="layui-badge layui-bg-badge">开封寻人寻址</span></a>
        <a href="{:url('index/search','keyword=开封商业调查')}"><span class="layui-badge layui-bg-black">开封商业调查</span></a>
        <a href="{:url('index/search','keyword=背景调查咨询')}"><span class="layui-badge layui-bg-gray">背景调查咨询</span></a>
    </div>
</div>