<layout name='layout' />

<form class="layui-form">	
	{php}if($level>1){{/php}
	<div class="layui-form-item">
		<label class="layui-form-label">父节点</label>
		<div class="layui-form-mid">
			{$pname}
		</div>
	</div>
	{php}}{/php}
	
	<div class="layui-form-item layui-form-text">
		<label class="layui-form-label">{$nodeName}描述</label>
		<div class="layui-input-inline">
			<input type="text" name="name" class="layui-input" lay-verify="required" placeholder="中文描述">
		</div>

		<label class="layui-form-label">{$nodeName}值</label>
		<div class="layui-input-inline">
			<input type="text" name="value" class="layui-input" lay-verify="required" placeholder="填写{$nodeName}值">
		</div>

	</div>

	<div class="layui-form-item layui-form-text">
		<label class="layui-form-label">状态</label>
		<div class="layui-input-inline">
			<input type="radio" name="status" value="1" title="开启" checked="checked">
			<input type="radio" name="status" value="0" title="关闭">
		</div>
	</div>
	
	{php}if($level==2){{/php}
	<div class="layui-form-item layui-form-text">
		<label class="layui-form-label">归属</label>
		<div class="layui-input-inline">
			<select name="data" id="data" lay-verify="required">
			<option value="">==请选择==</option>
			{volist name="leftMenu" id="vo"}
			<option value="{$vo.menuName}">{$vo.menuName}</option>
			{/volist}
			</select>
		</div>
	</div>
	{php}}{/php}

	<div class="layui-form-item layui-form-text">
		<label class="layui-form-label">菜单</label>
		<div class="layui-input-inline">
			<input type="radio" name="display" value="1" title="显示" checked="checked">
			<input type="radio" name="display" value="0" title="隐藏">
		</div>

		<label class="layui-form-label">图标</label>
		<div class="layui-input-inline">
			<input type="text" name="icon" class="layui-input">
		</div>
	</div>

	<div class="layui-form-item layui-form-text">
		<label class="layui-form-label">备注</label>
		<div class="layui-input-block">
			<input type="text" name="remark" class="layui-input">
		</div>
	</div>

	<div class="layui-form-item layui-form-text">
		<label class="layui-form-label">排序</label>
		<div class="layui-input-inline">
			<input type="text" name="sort" class="layui-input" value="1" placeholder="必填" lay-verify="number">
		</div>
	</div>

	<hr>
	
	<div class="layui-form-item">
		<label class="layui-form-label"></label>
	    <button class="layui-btn" lay-submit="" lay-filter="save" url="<{:url('Node/add')}>">新增</button>
	    <button type="button" class="layui-btn layui-btn-primary" function="close">关闭</button>
	</div>

	<input type="hidden" name="pid" value="{$pid}" />
	<input type="hidden" name="level" value="{$level}" />
</form>
