.indexBanner{width: 100%; height: 500px; z-index: 1}
.indexBanner .item{height: 500px;background-repeat: no-repeat; background-position: center; background-size: cover;}
.videoBox{float: left; width: 500px; height: 320px; background: #fff; box-shadow: 0 0 10px #333;}
.indexContact{float: right; width: 550px; margin-top: 50px; padding-top: 20px}
.indexContact li{line-height: 40px;}
.indexContact li i{margin-right: 10px; color: #046eb8}

.aboutBox{margin-top: 30px; background: url(../image/map.jpg); background-size: cover; background-repeat: center; padding: 30px 0; height:250px}
.aboutTitle{color: #fff; line-height: 50px; font-size:40px; text-align: center; font-weight: bold;}
.aboutIntr{color: #fff; line-height: 200%; padding: 20px}
.more{clear: both; text-align: center;}
.more a{display: block; margin: auto; border:1px #fff solid; width: 80px; line-height: 36px; border-radius: 18px; color: #fff; font-size: 14px;}
.more1 a{display: block; margin: auto; border:1px #046eb8 solid; width: 80px; line-height: 36px; border-radius: 18px; color: #046eb8; font-size: 14px;}

.indexCate{clear: both; overflow: hidden;}
.indexCate li{float: left; width: 25%; padding:0 20px; box-sizing: border-box;transition: all .3s;}
.indexCate li:hover{transform:scale(1.1);}
.indexCate li .item{text-align: center; height: 130px; background-repeat: no-repeat; background-position: center; background-size: cover; padding-top: 20px}
.indexCate li .item a{color: #fff; display: block;}
.indexCate li .item span{font-size: 30px}
.indexCate li .item p{margin-top: 50px}
.p1{background-image: url(../image/p1.jpg);}
.p2{background-image: url(../image/p2.jpg);}
.p3{background-image: url(../image/p3.jpg);}
.p4{background-image: url(../image/p4.jpg);}

.indexProduct{ clear: both; overflow: hidden; padding: 30px 0 }
.indexProduct li{float: left; width: 25%; padding: 15px; box-sizing: border-box;transition: all .3s;}
.indexProduct li:hover{transform:scale(1.1);}
.indexProduct li .item{background: #fff; box-shadow: 0 0 10px #ccc; padding: 10px;}
.indexProduct li .item img{display: block; max-width: 100%; height:160px; margin: auto}
.indexProduct li .item p{text-align: center; margin-top: 5px;}

.orgBox{ background: url(../image/org.jpg); background-size: cover; background-repeat: center; padding: 30px 0; overflow: hidden;}
.orgBox .hd{font-size: 40px; font-weight: bold; text-align: center; color: #fff; padding-bottom: 50px;}
.orgLeft{width: 500px; float: left;}
.orgLeft li{text-align: right; clear: both; overflow: hidden;}
.orgLeft li p{font-size: 22px;color: rgb(39, 169, 236); clear: both; margin-bottom: 20px}
.orgLeft li span{color: #fff;}
.orgLine{width: 100px; float: left;}
.orgLine .dot{width: 10px; height: 10px; background: #fff; margin: auto; border-radius: 50%}
.orgLine .line{width:2px; height: 100px; margin: auto;; background: #fff}
.orgRight{width: 500px; float: left;}
.orgRight li{text-align: left; clear: both; overflow: hidden;}
.orgRight li p{font-size: 22px;color: rgb(39, 169, 236); clear: both; margin-bottom: 20px}
.orgRight li span{color: #fff;}

.indexTitle{line-height: 50px; font-size:40px; text-align: center; font-weight: bold; margin: 30px 0;}

.indexNews{clear: both; overflow: hidden;}
.indexNews li{float: left; width: 25%; padding: 15px; box-sizing: border-box;}
.indexNews li .item{clear: both;}
.indexNews li .item img{display: block;width: 100%}
.indexNews li .item p{color: 000; margin:10px 0}
.indexNews li .item span{color: #999; font-size: 12px;}

.inBanner{width: 100%; height:450px; background-position: center; background-size: cover; background-repeat: no-repeat;}
.in1{background-image: url(../image/in1.jpg);}
.in2{background-image: url(../image/in2.jpg);}
.in3{background-image: url(../image/in3.jpg);}
.in4{background-image: url(../image/in4.jpg);}
.in5{background-image: url(../image/in5.jpg);}
.in6{background-image: url(../image/in6.jpg);}
.in7{background-image: url(../image/in7.jpg);}

.inHeader{width: 1100px; margin: auto; padding-top: 200px; clear: both; overflow: hidden;}
.inHeader .pageName{border-left:5px solid #028BCF; font-size: 40px; font-weight: bold; color: #fff; padding-left: 20px; line-height: 100%}

.inMenu{clear: both; background: #fff; height:70px; line-height:70px; border-radius: 5px; display: flex; margin-top:100px; overflow: hidden;}
.inMenu li{flex: 1; text-align: center; border-right: 1px #dbdbdb solid}
.inMenu li:last-child{border:0;}
.inMenu li a{display: block; height: 70px;transition: all .3s;}
.inMenu li.active a,.inMenu li a:hover{background:#27a9ec;color: #fff }

.guide{background: #f7f7f7; height: 40px; line-height: 40px; clear: both; margin-bottom: 15px; border-bottom: 1px #dbdbdb solid}
.content{min-height: 610px; box-shadow: 0 0 10px 0 #ccc; background: #fff; clear: both; overflow: hidden; padding:20px; border-radius:5px;}
.content p{font-size: 16px; line-height: 200%; margin-bottom: 1em; text-indent: 2em}

.contactLeft{float: left; width: 60%; border-right: 1px #dbdbdb solid; padding-right: 20px; box-sizing: border-box;}
.contact{line-height:200%;}
.map{width: 100%; height: 300px; margin-top: 20px;}
.contactRight{float: right; width: 35%;}
.cTitle{font-size: 20px; line-height: 50px; font-weight: bold;}

.piclist{clear: both; overflow: hidden;}
.piclist li{float: left; width: 25%; padding: 15px; box-sizing: border-box;}
.piclist li img{max-width: 100%; height: 150px; display: block; margin: auto;}
.piclist li .item{background: #fff; box-shadow: 0 0 10px #ccc; padding: 10px; text-align: center;}
.piclist li .item p{ margin-top: 10px }
/* 分页 */
.pagination{display:block;padding:20px 0;text-align:center;overflow:hidden;clear:both}
.pagination li{display:inline-block;border:1px #dbdbdb solid;font-size:16px;height:34px;line-height:34px;min-width:34px; margin-right: 5px}
.pagination li a,.pagination li span{display:block;width:100%;height:100%}
.pagination li.active{background:#046eb8;color:#fff;border-color:#046eb8}
.pagination li.disabled{background:#f1f1f1;color:#ccc}
.pinyin{font-size:20px;background-color:#fff;padding-left:10px}
/* end */

.newsList{clear: both; overflow: hidden;}
.newsList li{clear: both; overflow: hidden; border-bottom: 1px #dbdbdb dotted; padding: 10px 0}
.newsList li .img{float: left; width: 160px; height: 115px}
.newsList li .img img{display: block; width: 100%}
.newsList li .info{margin-left: 180px;}
.newsList li .info h1{ padding-bottom: 10px}
.newsList li .info h1 a{font-size: 16px; font-weight: bold;}
.newsList li .info .intr{color: #666}
.newsList li .info .date{text-align: right;}
.newsList li .info .date span,.newsList li .info .date span a{color: #999; font-size: 12px; padding-right: 20px}
.newsList li .info .date span i{font-size: 12px}

.newsInfo{min-height: 610px; box-shadow: 0 0 10px 0 #ccc; background: #fff; clear: both; overflow: hidden; padding:20px; border-radius:5px;}
.newsInfo h1{margin: 15px 0; font-size: 30px; text-align: center;}
.newsInfo .date{color: #999; border-bottom: 1px #dbdbdb solid; padding-bottom: 15px; clear: both; overflow: hidden; text-align: center;}
.newsInfo .date span{display: inline-block; padding: 0 15px}
.newsInfo .newsContent{font-size: 16px; padding-top: 15px; line-height: 200%}
.newsInfo .newsContent p{margin-bottom: 15px;font-size: 16px; text-indent: 2em; margin-bottom: 1em;}
.nextArticle .hd{color: #999; margin-bottom: 10px}
.share{text-align: right;}
.prevArt{ margin-top: 15px;}
.nextArt{text-align: right; margin-top: 15px;}
.proImg{text-align: center;}
.proImg img{max-width: 100%}

.topNews{clear: both; margin-top: 20px}
.topNews .hd{font-weight: bold; line-height: 40px}
.topNews li{ height: 34px; line-height: 34px; border-bottom: 1px #dbdbdb dotted }
.topNews li i{font-size: 12px}

.empty{text-align: center; padding:50px 0;}
.empty img{width: 150px;}
.empty p{font-size: 30px;color: #ccc; padding: 15px}