*{margin: 0; padding: 0; font-size: 14px; font-family:"microsoft Yahei";}

.clearfix{clear: both; overflow: hidden; font-size: 0}
.mt20{margin-top: 20px;}
.mt10{margin-top: 10px;}

.main{width: 1100px; margin: auto;}
.top{background: #fff; width: 1100px; margin: auto; position: absolute; top: 0; left: 50%; margin-left: -550px; box-shadow: 0 0 5px #666; z-index: 999}
.topBar{clear: both; height: 30px; line-height: 30px; background-image: url(../image/top.png); background-position: right top; background-repeat: no-repeat; background-color: #fff; text-align: right;}
.topBar .date{float: left; padding-left: 20px; color: #666; line-height: 30px; font-size: 12px}
.fav,.topTel{display: inline-block; color: #fff; font-size: 12px; padding-right: 20px}
.fav a{color: #fff; font-size: 12px; padding: 0 10px}


.header{background: #fff; height: 80px; clear: both;}
.logo{float: left; height: 60px; margin-top: 10px}
.logo img{display: block; height: 60px}

.nav{overflow: hidden; float: right; width: 800px;}
.nav li{float: left; line-height: 80px; width: 12.5%}
.nav li.active a,.nav li a:hover{color: #046eb8; font-weight: bold;}

.footerBg{background: #333; clear: both; overflow: hidden; margin-top: 30px;}
.footer{width: 1100px; margin: auto; clear: both; overflow: hidden; padding: 20px 0}
.footer li{float: left; width: 20%; padding-right:30px; box-sizing: border-box;}
.footer li .hd{color: #fff;font-weight: bold;}
.footer li .bd{clear: both; line-height: 36px;}
.footer li .bd a{display: block; line-height: 36px; color: #ccc}

.copyright{background: #202020;text-align: center; color: #ccc; height: 30px; line-height: 30px}
.copyright a{font-size: 12px; color: #eee}
.copyright .left{float: left; font-size: 12px}
.copyright .right{float: right; text-align: right; font-size: 12px}
