<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>联系我们-{:config('site.name')}</title>
<meta name="renderer" content="webkit">
<meta name="keywords" content="{:config('site.keyword')}">
<meta name="description" content="{:config('site.content')}">
{include file="public:cssjs" /}
<style type="text/css">
body,html{height: auto; overflow: auto;}
</style>
</head>
<body>
{include file="public:header" /}

<div class="inBanner in2">
    <div class="inHeader">
        <div class="pageName wow bounceInRight">联系我们</div>
    </div>
</div>

<div class="guide">
    <div class="main">
        <span class="layui-breadcrumb">
            <a href="/">首页</a>
            <a><cite>联系我们</cite></a>
        </span>
    </div>
</div>

<div class="main">
    <div class="contactLeft">
        <div class="cTitle">联系方式</div>
        <div class="contact">{$list.content|htmlspecialchars_decode=###}</div>
        <div class="map" id="map"></div>
        <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=37f5e0eb64651c2889953a1e53e7bc5b"></script>
        <script>
            $(function(){
                var sContent ="<p>{:config('site.address')}</p><p>{:config('site.tel')}</p>";
                var map = new BMap.Map("map");       // 创建地图实例
                point = new BMap.Point(116.39169,39.929648);
                map.centerAndZoom(point, 17);
                map.enableScrollWheelZoom(true);
                var infoWindow = new BMap.InfoWindow(sContent);  // 创建信息窗口对象
                map.openInfoWindow(infoWindow,point); //开启信息窗口
                marker = new BMap.Marker(point);  // 创建标注
                map.addOverlay(marker);
                marker.addEventListener("click", function(){          
                   this.openInfoWindow(infoWindow);
                });
            })
        </script>
    </div>
    <div class="contactRight">
        <div class="cTitle">在线留言</div>
        <form class="layui-form" method="post">
            <div class="layui-form-item">                
                <input type="text" name="name" id="name" required lay-verify="required" placeholder="您的姓名" autocomplete="off" class="layui-input">               
            </div>

            <div class="layui-form-item">
                <input type="number" name="mobile" id="mobile" required lay-verify="required" placeholder="您的手机号码" autocomplete="off" class="layui-input">
            </div>

            <div class="layui-form-item">
                <textarea name="content" lay-verify="required" class="layui-textarea" placeholder="留言内容..."></textarea>
            </div>

            <div class="layui-form-item">
                <button class="layui-btn" lay-submit lay-filter="go" url="{:url('index/feedback')}">提交留言</button>                 
            </div>
        </form>
    </div>

    <div class="clearfix"></div>
</div>

<input type="hidden" id="activeMenu" value="contact" />
{include file="public:footer" /}
</body>
</html>