<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{$list.title}-新闻中心-{:config('site.name')}</title>
<meta name="renderer" content="webkit">
<meta name="keywords" content="{:config('site.keyword')}">
<meta name="description" content="{:config('site.content')}">
{include file="public:cssjs" /}
<style type="text/css">
body,html{height: auto; overflow: auto;}
</style>
</head>
<body>
{include file="public:header" /}

<div class="inBanner in7">
    <div class="inHeader">
        <div class="pageName wow bounceInRight">新闻中心</div>
    </div>    
</div>

<div class="guide">
    <div class="main">
        <span class="layui-breadcrumb">
            <a href="/">首页</a>
            <a><cite>新闻中心</cite></a>
        </span>
    </div>
</div>

<div class="main">
    <div class="newsInfo">
        <h1>{$list.title}</h1>
        <div class="date">
            <span>时间：{$list.createTime|date="Y-m-d",###}</span>
            <span>阅读：{$list.hit}</span>
        </div>
        <div class="newsContent">{$list.content|htmlspecialchars_decode=###}</div>
        <div class="share">
            <div class="bdsharebuttonbox">
                <a href="#" class="bds_more" data-cmd="more"></a>
                <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                <a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
            </div>                
        </div>
        <script>
        window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
        </script>

        <div class="layui-row">
            <div class="layui-col-md6 prevArt">上一篇：{$upArt}</div>
            <div class="layui-col-md6 nextArt">下一篇：{$nextArt}</div>
        </div>

        <div class="topNews">
            <div class="hd">相关文章</div>
            {volist name="about" id="vo"}
            <li class="layui-elip"><a href="{:url('index/detail','id='.$vo['id'])}" title="{$vo.title}"><i class="layui-icon layui-icon-triangle-r"></i>{$vo.title}</a></li>
            {/volist}
        </div>
    </div>
</div>

<input type="hidden" id="activeMenu" value="news" />
{include file="public:footer" /}
</body>
</html>