<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{:config('site.name')}</title>
<meta name="renderer" content="webkit">
<meta name="keywords" content="{:config('site.keyword')}">
<meta name="description" content="{:config('site.content')}">
{include file="public:cssjs" /}
</head>
<body>
{include file="public:header" /}
<div class="indexBanner">
    <div class="layui-carousel" id="banner">
        <div carousel-item>
            <div class="item" style="background-image: url({:RES}/image/banner1.jpg);"></div>
            <div class="item" style="background-image: url({:RES}/image/banner2.jpg);"></div>
            <div class="item" style="background: url({:RES}/image/banner3.jpg);"></div>
        </div>
    </div>
    <script>
    layui.use('carousel', function(){
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
        elem: '#banner'
        ,width: '100%' //设置容器宽度
        ,height: '500px' //设置容器宽度
        ,arrow: 'always' //始终显示箭头
        ,interval:6000
        //,anim: 'updown' //切换动画方式
        });
    });
    </script>
</div>

<div class="main wow bounceInUp" style="margin-top: -50px">
    <div class="videoBox">
        <div id="video" style="width: 100%; height:320px;max-width:500px;">
        </div>
        <script type="text/javascript" src="/ckplayer/ckplayer.min.js" charset="UTF-8"></script>
        <script type="text/javascript">
            var videoObject = {
                container: '#video',//“#”代表容器的ID，“.”或“”代表容器的class
                variable: 'player',//该属性必需设置，值等于下面的new chplayer()的对象
                flashplayer:false,//如果强制使用flashplayer则设置成true
                video:'/video/01.flv'//视频地址
            };
            var player=new ckplayer(videoObject);
        </script>
    </div>
    <div class="indexContact">
        <li><i class="iconfont icon-dizhi"></i> {:config('site.address')}</li>
        <li><i class="iconfont icon-dianhua"></i> {:config('site.tel')}</li>
        <li><i class="iconfont icon-qq"></i> {:config('site.qq')}</li>
        <li><i class="iconfont icon-guanjiaowangtubiao13"></i> {:config('site.email')}</li>
        <li><i class="iconfont icon-chuanzhen"></i> {:config('site.fax')}</li>
        <li><i class="iconfont icon-wangzhi"></i> {:config('site.domain')}</li>
    </div>

    <div class="clearfix"></div>
</div>

<div class="aboutBox wow fadeIn">
    <div class="main">
        <div class="aboutTitle">{:config('site.name')}</div>
        <div class="aboutIntr">开封市华通成套开关有限公司创建于1970年，是原国家电力部、机械工业部定点企业，专门研制核电站控制设备的国家大中型骨干企业，是为大型发电厂、变电所、城乡电网、石油、化工、钢铁铁路及大型建筑提供无污染成套电器开关设备的制造厂家，获有国家高、低压开关柜生产许可证。现为国家经贸委城乡电网...</div>
        <div class="more"><a href="{:url('index/about')}">了解更多</a></div>
    </div>
</div>

<div class="main wow bounceInUp" style="margin-top: -50px">
    <div class="indexCate">
        <li><div class="item p1"><a href="{:url('index/product','cid=8')}"><span>01</span><p>高压开关</p></a></div></li>
        <li><div class="item p2"><a href="{:url('index/product','cid=9')}"><span>02</span><p>低压开关</p></a></div></li>
        <li><div class="item p3"><a href="{:url('index/product','cid=10')}"><span>03</span><p>母线槽</p></a></div></li>
        <li><div class="item p4"><a href="{:url('index/product','cid=11')}"><span>04</span><p>YBM9-12箱式变电</p></a></div></li>
    </div>

    <div class="indexProduct">
        {volist name="product" id="vo"}
        <li><div class="item"><a href="{:url('index/info','id='.$vo['id'])}" title="{$vo.title}"><img src="{$vo.picname}" alt="{$vo.title}"><p>{$vo.title}</p></a></div></li>
        {/volist}
    </div>

    <div class="more more1" style="margin-bottom: 50px"><a href="{:url('index/product')}">更多产品</a></div>
</div>

<div class="orgBox">
    <div class="main">
        <div class="hd">六大优势让华通成为您的最佳选择</div>
        <div class="orgLeft wow bounceInLeft">
            <li>
                <p>1、国家规划布局内定点企业</p>
                <span>原国家电力部、机械工业部定点企业，专门研制核电站控制设备的国家大中型骨干企业，国家经贸委城乡电网建设与改造推荐厂家之一。</span>
            </li>
            <li style="margin-top: 130px">
                <p>3、河南省首批获得3C认证证书的厂家</p>
                <span>企业设有专门科研机构，引进了许多国外先进科研设备，并建立了现代科技发展和高度竞争的管理体系，严格的标准化体系和可靠的质量保证体系。</span>
            </li>
            <li style="margin-top: 130px">
                <p>5、持续优化、不断进取、锐意创新</p>
                <span>华通人以势不可挡的铁骨雄风傲然崛起，不断推出新技术、新产品，以满足国内外客户的需求，为电力、港口、铁路、矿山、能源、航天、电子以及机械制造领域研制了成套电气设备。</span>
            </li>
        </div>
        <div class="orgLine">
            <div class="dot"></div>
            <div class="line"></div>
            <div class="dot"></div>
            <div class="line"></div>
            <div class="dot"></div>
            <div class="line"></div>
            <div class="dot"></div>
            <div class="line"></div>
            <div class="dot"></div>
            <div class="line"></div>
            <div class="dot"></div>
        </div>
        <div class="orgRight wow bounceInRight">
            <li style="margin-top: 100px">
                <p>2、团队合作的、训练有素的专业人才队伍​​​​</p>
                <span>公司经过数十年的发展，有着丰富的制造经验，已形成为技术力量雄厚，生产、检测设备先进齐全，生产规模庞大的龙头制造企业。</span>
            </li>
            <li style="margin-top: 130px">
                <p>4、长期坚持客户第一积累的客户满意度和品牌形象</p>
                <span>公司重合同、讲信誉，连年被上级政府评为“重点保护企业”、“明星企业”；荣获“全国电器行业质量放心、国家标准合格产品”荣誉证书。</span>
            </li>
            <li style="margin-top: 130px">
                <p>6、高效的管理机制和以人为本的人才策略</p>
                <span>公司拥有一批经验丰富，从事多年高低压电器成套设备研究、设计及制造的工程技术员，大中专毕业生占职工总数的50%以上。</span>
            </li>
        </div>
    </div>
</div>

<div class="main wow bounceInUp">
    <div class="indexTitle">新闻中心</div>

    <div class="indexNews">
        {volist name="news" id="vo"}
        <li><div class="item"><a href="{:url('index/detail','id='.$vo['id'])}" title="{$vo.title}"><img src="{$vo.picname|getThumb=240,170|default=RES.'/image/noimg.jpg'}"><p>{$vo.title}</p><span>{$vo.intr}</span></a></div></li>
        {/volist}
    </div>

    <div class="more more1"><a href="{:url('index/news')}">更多新闻</a></div>
</div>

<input type="hidden" id="activeMenu" value="home" />
{include file="public:footer" /}
</body>
</html>