<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>新闻中心-{:config('site.name')}</title>
<meta name="renderer" content="webkit">
<meta name="keywords" content="{:config('site.keyword')}">
<meta name="description" content="{:config('site.content')}">
{include file="public:cssjs" /}
<style type="text/css">
body,html{height: auto; overflow: auto;}
</style>
</head>
<body>
{include file="public:header" /}

<div class="inBanner in7">
    <div class="inHeader">
        <div class="pageName wow bounceInRight">新闻中心</div>
    </div>    
</div>

<div class="guide">
    <div class="main">
        <span class="layui-breadcrumb">
            <a href="/">首页</a>
            <a><cite>新闻中心</cite></a>
        </span>
    </div>
</div>

<div class="main">
    <div class="newsList">
        {volist name="list" id="vo"}
        <li>
            <div class="img"><a href="{:url('index/detail','id='.$vo['id'])}" title="{$vo.title}"><img src="{$vo.picname|getThumb=240,170|default=RES.'/image/noimg.jpg'}" alt="{$vo.title}"></a></div>
            <div class="info">
                <h1><a href="{:url('index/detail','id='.$vo['id'])}" title="{$vo.title}">{$vo.title}</a></h1>
                <div class="intr">{$vo.intr}</div>
                <div class="date">
                    <span><i class="layui-icon layui-icon-log"></i> {$vo.createTime|date="Y-m-d",###}</span>
                    <span><i class="layui-icon layui-icon-list"></i> <a href="{:url('index/news','cid='.$cate.id)}" title="{$cate.name}">{$cate.name}</a></span>
                    <span><i class="layui-icon layui-icon-read"></i> {$vo.hit}</span>
                </div>
            </div>
        </li>
        {/volist}
    </div>
                    
    {$page}
</div>

<input type="hidden" id="activeMenu" value="news" />
{include file="public:footer" /}
</body>
</html>