<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>工程案例-{:config('site.name')}</title>
<meta name="renderer" content="webkit">
<meta name="keywords" content="{:config('site.keyword')}">
<meta name="description" content="{:config('site.content')}">
{include file="public:cssjs" /}
<style type="text/css">
body,html{height: auto; overflow: auto;}
</style>
</head>
<body>
{include file="public:header" /}

<div class="inBanner in5">
    <div class="inHeader">
        <div class="pageName wow bounceInRight">工程案例</div>
        <div class="inMenu wow fadeIn">
            <li><a href="{:url('index/project')}">案例展示</a></li>
            <li class="active"><a href="{:url('index/yjb')}">业绩表</a></li>
        </div>
    </div>    
</div>

<div class="guide">
    <div class="main">
        <span class="layui-breadcrumb">
            <a href="/">首页</a>
            <a><cite>业绩表</cite></a>
        </span>
    </div>
</div>

<div class="main">
    <div class="content">{$list.content|htmlspecialchars_decode=###}</div>
</div>

<input type="hidden" id="activeMenu" value="project" />
{include file="public:footer" /}
</body>
</html>